*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headlinepage2 {
    text-align: center;
    color: rgb(red, green, blue);
    font-family: 'Courier New', Courier, monospace;
}

.story {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    
}